@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-MediumItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.flex-large-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 25px;
}

.flex-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 15px;
}

.flex-card {
  padding: 18px;
}

header {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 1em;
  color: #ffd600;
}

header:hover {
  color: #ffc400; /* I didn't know which color to pick, so please help me fix this later */
  transition: 0.3s;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
  font-style: italic;
  color: #2ba6eb;
  margin-bottom: 5px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #727272;
}

h2.get-involved:hover {
  color: black;
  transition: 0.3s;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #2ba6eb;
}

h3.home {
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #727272;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: none;
  color: #000000;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: lowercase;
  color: #000000;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.mission {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}

/* table {
  background: #fff;
  border-collapse: collapse;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 100%;
}

td {
  border: 1px solid #ccc;
  color: #444;
  line-height: 22px;
  text-align: center;
}

tr:first-child td {
  color: #222;
  font-weight: 700;
}

.selected {
  background: #2ba6eb;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
} */

:root {
  --cal-bg-color: #fff;
  --cal-border-radius: 0;
  --cal-border-color: #e7e9ed;
  --cal-today-bg-color: #10989E;
  --cal-today-color: #fff;
  --cal-selected-bg-color: #E7E9ED;
  --cal-selected-color: #333;
}

#cal *, #cal *:before, #cal *:after {
  box-sizing: border-box;
}

#cal {
  background-color: var(--cal-bg-color);
  border-radius: var(--cal-border-radius);
  border: solid 1px var(--cal-border-color);
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#cal .cal-btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  min-width: 27px;
  outline: none;
  overflow: visible;
  padding: 0;
  text-align: center;
  /* &:active {
    border-radius: var(--cal-border-radius);
    box-shadow: 0 0 0 2px rgba(var(--cal-today-bg-color), 0.1)
  } */
}

#cal .cal-header {
  align-items: center;
  display: flex;
  padding: 1.2rem 1.4rem;
}

#cal .cal-header svg {
  fill: var(--cal-today-bg-color);
}

#cal .cal-header__label {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#cal .cal-week {
  background-color: var(--cal-selected-bg-color);
  display: flex;
  flex-wrap: wrap;
}

#cal .cal-week span {
  flex-direction: column;
  flex: 0 0 14.28%;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 14.28%;
  padding: 1.2rem 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

#cal .cal-body {
  background-color: rgba(var(--cal-selected-bg-color), 0.3);
  display: flex;
  flex-wrap: wrap;
}

#cal .cal-date {
  align-items: center;
  background-color: #fff;
  border-radius: var(--cal-border-radius);
  display: flex;
  flex-direction: column;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  padding: 1.2rem 0;
}

#cal .cal-date--active {
  cursor: pointer;
}

#cal .cal-date--today {
  background-color: var(--cal-today-bg-color);
  color: var(--cal-today-color);
}

#cal .cal-date--selected {
  background-color: var(--cal-selected-bg-color);
  color: var(--cal-selected-color);
}

#cal .cal-date--disabled {
  border-radius: 0;
  cursor: not-allowed;
  opacity: 0.5;
}

.App {
  text-align: left;
  padding-top: 100px;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

div.home {
  float: left;
  width: 55%;
  padding-left: 25px;
}

img.home {
  width: 100%;
}

html {
  background-color: #f9f9f9;
}
