@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-MediumItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.flex-item {
  padding: 20px;
}

header {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #ffd600;
}

header:hover {
  color: #ffc400; /* I didn't know which color to pick, so please help me fix this later */
  transition: 0.3s;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
  font-style: italic;
  color: #2ba6eb;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #727272;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #2ba6eb;
}

h3.home {
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #727272;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: lowercase;
  color: #000000;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: lowercase;
  color: #000000;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.App {
  text-align: left;
  padding-top: 100px;
}

.App-body {
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

div.home {
  float: left;
  width: 55%;
  padding-left: 25px;
}

img.home {
  float: right;
  width: 45%;
  padding-right: 25px;
}
